<div>
    <div>
        <input type="text" placeholder="Enter some task here" id="taskInput">
    </div>
    <div>
        <button {{action "addTask" 'random task'}}>Add Task</button>
        <button {{action
                "clearAll"}}>Clear
        </button>
    </div>
</div>