<div>
    <div>
        {{input id="taskInput" value=newTask placeholder="Enter some task here"}}
    </div>
    <div>
        <button {{action "addTask"}}>Add Task</button>
        <button {{action "clearAll"}}>Clear</button>
    </div>
</div>