<div>
    <div>
        <Heading/>
    </div>
    <div>
        <div>
            {{inputbox tasks=tasks}}
        </div>
        <div>
            {{tasklist tasks=tasks}}
        </div>
    </div>
</div>